<div
  class="contact-form container bg-white rounded py-4 md:py-8 flex flex-col gap-4"
  style={build_form_styles(@form)}
>
  {render_h1(@form)}

  <KeilaWeb.PostConfirmation.post_confirmation
    message={@confirmation_message}
    action_message={@confirmation_action_message}
    action_cta={@confirmation_action_cta}
  />

  {render_fine_print(@form)}
</div>
