<div>
  <%= render_h1(@form) %>
  <h2 class="text-xl">
    <%= gettext("Your data has been deleted.") %>
  </h2>
  <p>
    <%= gettext("You will not be subscribed to this list.") %>
  </p>
  <%= render_fine_print(@form) %>
</div>
