<div class="contact-form container bg-white rounded py-4 md:py-8 flex flex-col gap-4" style={build_form_styles(@form)}>
  <div class="text-center">
    <h1 class="text-2xl font-bold mb-4"><%= gettext("Unsubscribed") %></h1>
    <p class="text-lg"><%= gettext("You have been unsubscribed from this list.") %></p>
  </div>
</div>
