<tr class="block block--button">
    <td>
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;{% unless block.data.centered %}width: 100%;{% endunless %}">
            <tr>
                <td class="button-td button-td-primary">
                    <a class="button-a button-a-primary" href="{{block.data.url }}">{{block.data.label }}</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
