{% assign style = "" %}
{% if block.tunes.alignment %}
{% assign style = "text-align: " | append: block.tunes.alignment.alignment %}
{% endif %}

<tr class="block block--heading">
    <td>
        <h{{ block.data.level }} style="{{style}}">{{ block.data.text }}</h{{ block.data.level }}>
    </td>
</tr>
