<tr class="block block--quote">
    <td>
        <figure>
            <blockquote>{{block.data.text }}</blockquote>
            <figcaption>{{ block.data.caption }}</figcaption>
        </figure>
    </td>
</tr>
