h1 {
    margin: 0 0 20px 0;
}

h2 {
    margin: 0 0 20px 0;
}

h3 {
    margin: 0 0 20px 0;
}

ul {
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: disc;
}

ul > li {
    margin: 0 0 10px 30px
}

h4 {
    margin: 20px 0;
}

h4 > a {
    padding: 10px;
    display: block;
    cursor: pointer;
    text-align: center;
}

#content img {
    width: 100%;
    max-width: 600px;
}