h1 {
    margin: 0 0 10px 0;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
    font-weight: bold;
}
h2 {
    margin: 0 0 10px 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: disc;
}

ul>li {
    margin: 0 0 10px 30px
}

a { text-decoration: underline;
    color: #3b82f6
}

a.unsubscribe {
    color: #333333;
}

h4 > a {
    background: #3b82f6;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

img {
    width: 100%;
    max-width: 600px;
}