/*! Keila | AGPLv3 License | https://www.keila.io */

@import "_inter.scss";
@import "_header.scss";

html {
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

.container {
    @apply mx-auto max-w-5xl px-4 md:px-8;

    &.container--no-px {
        @apply px-0;
    }
}

.card {
    @apply p-4 sm:max-w-5xl sm:p-8;
}

.button {
    @apply rounded inline-flex flex-nowrap whitespace-nowrap px-2 py-1 gap-2 outline-none items-center focus:outline-none cursor-pointer;

    svg {
        @apply w-6;
    }

    &:not(.button--cta):not(&.button--warn):not(&.button--text) {
        @apply
            ring-2 ring-green-500
            hover:ring-green-700;
    }
    
    &.button--cta {
        @apply
            bg-green-700 text-white outline-none
            hover:ring-2 hover:ring-green-400
            focus:ring-2 hover:ring-green-400
            active:bg-green-800;
    }
    
    &.button--warn {
        @apply
            bg-red-700 text-white outline-none
            hover:ring-2 hover:ring-red-400
            focus:ring-2 focus:ring-red-400
            active:bg-red-800;
    }
    
    &.button--large {
        @apply px-4 py-2;
    }

    &.button--text {
        @apply
            px-0
            hover:underline
            focus:ring-2;
    }
}

.form-errors {
    @apply italic;
}

select {
    color: black!important;
}

.form-error-indicator + input {
    @apply bg-red-300;
}

.form-error-indicator + div.h-captcha iframe {
    border: none;
    @apply ring-2 ring-red-300;
}

input[disabled] {
    @apply bg-gray-300 text-gray-500;
}

.tabs {
    .tab-label {
        @apply inline-block bg-gray-600 px-2 py-2 rounded-t;

        &.active {
            @apply bg-gray-50 text-gray-900;
        }
    }

    .tab-content {
        @apply p-4 ring-1 ring-inset ring-gray-600 flex flex-col gap-4;

    }
}

.with-ol {
    ol {
        @apply list-decimal pl-5;
    }
}

.with-ul {
    ul {
        @apply list-disc pl-5;
    }
}

/*
Fix for Phoenix during development
*/
iframe[src="/phoenix/live_reload/frame"] {
    display: none;
}

.contact-form {
    a {
        text-decoration: underline;
    }
}
