<footer class="bg-gray-900 text-sm text-gray-400">
    <div class="max-w-7xl mx-auto px-2 py-4 sm:px-6 lg:px-8">
        <div class="container">
            <ul class="center">
                <li><a class="block text-center hover:underline" href="https://keila.io">Keila - Open Source Newsletters</a></li>
            </ul>
        </div>
    </div>
</footer>
