<%= if get_flash(@conn, :info) do %>
    <div class="bg-green-200" role="alert">
        <p class="container py-5 my-0"><%= get_flash(@conn, :info) %></p>
    </div>
<% end %>
<%= if get_flash(@conn, :error) do %>
    <div class="bg-yellow-200" role="alert">
        <p class="container py-5 my-0"><%= get_flash(@conn, :error) %></p>
    </div>
<% end %>
<%= @inner_content %>
