<div class="flex flex-col">
  <%= gettext(
    "The local sender adapter is useful for testing during development. Inspect its mailbox at: %{url}",
    url: Routes.static_url(KeilaWeb.Endpoint, "/dev/mailbox")
  ) %>
</div>
