<div class="form-row">
  {label(@form, :mailgun_domain, gettext("Domain"))}
  <%= with_validation(@form, :mailgun_domain) do %>
    {text_input(@form, :mailgun_domain, class: "text-black")}
  <% end %>
</div>

<div class="form-row">
  {label(@form, :mailgun_base_url, gettext("Base URL"))}
  <%= with_validation(@form, :mailgun_base_url) do %>
    {select(
      @form,
      :mailgun_base_url,
      [
        "https://api.mailgun.net/v3",
        "https://api.eu.mailgun.net/v3"
      ],
      class: "text-black"
    )}
  <% end %>
</div>

<%= if is_nil(@form.data.mailgun_api_key) do %>
  <div class="form-row">
    {label(@form, :mailgun_api_key, gettext("API Key"))}
    <%= with_validation(@form, :mailgun_api_key) do %>
      {password_input(@form, :mailgun_api_key, class: "text-black")}
    <% end %>
  </div>
<% else %>
  <div
    x-data="{ show: false }"
    x-init="$watch('show', show => { $nextTick(() => { if (show) $refs.password.focus() }) })"
    class="form-row"
  >
    <div class="flex gap-5">
      {label(@form, :mailgun_api_key, gettext("API Key"))}
      <label>
        <input type="checkbox" x-model="show" />
        {gettext("Change")}
      </label>
    </div>

    <template x-if="show">
      <%= with_validation(@form, :mailgun_api_key) do %>
        {password_input(@form, :mailgun_api_key, class: "text-black", x_ref: "password")}
      <% end %>
    </template>
  </div>
<% end %>

<%= if is_nil(@form.data.mailgun_webhook_signing_key) do %>
  <div class="form-row">
    {label(@form, :mailgun_webhook_signing_key, gettext("Webhook Signing Key (optional)"))}
    <%= with_validation(@form, :mailgun_webhook_signing_key) do %>
      {password_input(@form, :mailgun_webhook_signing_key, class: "text-black")}
    <% end %>
  </div>
<% else %>
  <div
    x-data="{ show: false }"
    x-init="$watch('show', show => { $nextTick(() => { if (show) $refs.webhook_signing_key.focus() }) })"
    class="form-row"
  >
    <div class="flex gap-5">
      {label(@form, :mailgun_webhook_signing_key, gettext("Webhook Signing Key (optional)"))}
      <label>
        <input type="checkbox" x-model="show" />
        {gettext("Change")}
      </label>
    </div>

    <template x-if="show">
      <%= with_validation(@form, :mailgun_webhook_signing_key) do %>
        {password_input(@form, :mailgun_webhook_signing_key,
          class: "text-black",
          x_ref: "webhook_signing_key"
        )}
      <% end %>
    </template>
  </div>
<% end %>

<p class="text-sm opacity-70">
  {gettext(
    "To automatically mark bounced contacts as unreachable, add this URL as a webhook for the “Permanent Failure”, “Temporary Failure” and “Spam Complaints” events in Mailgun and enter your HTTP webhook signing key above:"
  )}
  <code class="break-all">{Routes.mailgun_webhook_url(KeilaWeb.Endpoint, :webhook)}</code>
</p>
