<div class="flex flex-col">
    <%= label(@form, :sendgrid_api_key, "API Key") %>
    <%= with_validation(@form, :sendgrid_api_key) do %>
        <%= password_input(@form, :sendgrid_api_key, class: "text-black") %>
    <% end %>
</div>
