<div class="flex flex-col">
    <p class="flex gap-2 items-center">
        <span class="text-green-500 inline-flex h-5 w-5 flex-shrink-0">
            <%= render_icon(:check_circle) %>
        </span>
        <%= gettext("No configuration is required for this sender.") %>
    </p>
</div>
