<div class="flex flex-col">
  <p class="flex gap-2 items-center">
    <span class="text-emerald-500 inline-flex h-5 w-5 shrink-0">
      {render_icon(:check_circle)}
    </span>
    {gettext("No configuration is required for this sender.")}
  </p>
</div>
