<!DOCTYPE html>
<% assigns = Map.put(assigns, :conn_or_socket, assigns[:conn] || assigns[:socket]) %>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <title>
      <%= get_meta(
        @conn,
        view_module(@conn),
        view_template(@conn),
        :title,
        gettext("Open Source Newsletter Tool")
      ) <> " · Keila" %>
    </title>
    <meta property="og:image" content={Routes.static_url(@conn, "/images/og_image.png")} />
    <meta property="og:description" content="Open Source Newsletters" />
    <meta name="twitter:card" content="summary" />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn_or_socket, "/css/app.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn_or_socket, "/js/app.js")}
    >
    </script>
  </head>
  <body
    class="flex flex-col min-h-screen p-4 md:p-8"
    style={build_styles(%{"background-color" => @form.settings.body_bg_color})}
  >
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
