name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  test-agplv3:
    uses: ./.github/workflows/test.yml

  test-with-extra:
    uses: ./.github/workflows/test.yml
    with:
      with_extra: "1"

  test-cloud:
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      with_extra: "1"
      keila_cloud: "1"

  build:
    name: Build and Release
    needs:
      - test-agplv3
      - test-with-extra
      - test-cloud
    runs-on: ubuntu-latest
    environment: build
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx--${{ github.sha }}
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - id: meta
        run: |
          VERSION=`echo ${{ github.ref }} | grep -oE "([0-9]+)\.([0-9]+)\.([0-9]+)"`
          MINOR_VERSION=`echo $VERSION | grep -oE "^([0-9]+)\.([0-9]+)"`
          MAJOR_VERSION=`echo $VERSION | grep -oE "^([0-9]+)"`
          echo "::set-output name=version::${VERSION}"
          echo "::set-output name=minor_version::${MINOR_VERSION}"
          echo "::set-output name=major_version::${MAJOR_VERSION}"
          awk -v version="${VERSION}" '/## Version\s/ {printit = $3 == version}; printit;' "$2" CHANGELOG.md > __CHANGELOG__.md
          cat __CHANGELOG__.md
      - uses: docker/build-push-action@v3
        with:
          context: .
          file: ./ops/Dockerfile
          build-args: |
            WITH_EXTRA=1
          tags: |
            pentacent/keila:latest
            pentacent/keila:${{ steps.meta.outputs.version }}
            pentacent/keila:${{ steps.meta.outputs.major_version }}
            pentacent/keila:${{ steps.meta.outputs.minor_version }}
          labels: |
            service=keila
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache
      - uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.meta.outputs.version }}
          body_path: __CHANGELOG__.md
          release_name: Keila v${{ steps.meta.outputs.version }}
          draft: false
          prerelease: false
